<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Kontakt</title>
</head>
<body>
    <main>
        <article>
            <h1>contact</h1>
        </article>
        <aside>
            <form action="">
                Name: <input type="text" name="name" id="name"></br>
                Email: <input type="email" name="email" id="email"></br>
                Subject: <select id="Subject" name="Subject">
                    <option value="Typescript">Typescript</option>
                    <option value="js">js</option>
                </select></br>
                Message: </br><textarea name="area" id="area" cols="30" rows="10"></textarea></br>
                <button type="submit">Submit</button>
            </form>
        </aside>
    </main>
    <script src="../public/js/form.js"></script>
</body>
</html>